<div id="<%= dom_id comments_post %>">
  <p>
    <strong>Comment:</strong>
    <%= comments_post.comment_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comments_post.post_id %>
  </p>

</div>
