<h1>Editing comments post</h1>

<%= render "form", comments_post: @comments_post %>

<br>

<div>
  <%= link_to "Show this comments post", @comments_post %> |
  <%= link_to "Back to comments posts", comments_posts_path %>
</div>
